<!DOCTYPE html>
<html lang="en">
  <head>
    {% csrf_token %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mechanitool Tolerance Stackup</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'styles.css'%}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/c723f03f6a.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    ></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <body class="background">
    <h1 class="text-center title">Mechanitool Tolerance Stackup Calculator</h1>

    <div id="setup-pane">
      <div class="stack-container" id="stack-container">
        <div class="row stack-step" id="row-0">
          <div class="col-md-2 align-self-center">
            <h4 class="col-md-1 align-self-center stack-num" id="stack-num">
              1
            </h4>
            <input
              class="form-control stack-name"
              id="stack-name"
              type="text"
              placeholder="Name"
              style="display: inline; white-space: nowrap"
            />
          </div>

          <div class="col-md-2 align-self-center">
            <input
              class="form-control"
              id="nominal"
              type="number"
              placeholder="Nominal"
              style="display: inline; width: 45%"
            />
            <p class="pm">±</p>
            <input
              class="form-control"
              id="tolerance"
              type="number"
              placeholder="Tolerance"
              style="display: inline; width: 45%"
              width="20px"
            />
          </div>

          <div class="col-md-2 align-self-center">
            <div class="input-group">
              <div class="input-group-prepend" id="dist-prepend">
                <label class="input-group-text" id="dist-label" for="dist"
                  >Distribution</label
                >
              </div>
              <select class="form-select distributions" id="dist">
                <option>Normal</option>
                <option>Uniform</option>
              </select>
            </div>
          </div>

          <div class="col-md-2 align-self-center">
            <div class="input-group">
              <div class="input-group-prepend" id="std-prepend">
                <span class="input-group-text" id="std-label"
                  >Standard Deviation</span
                >
              </div>
              <input class="form-control" type="number" id="std" />
            </div>
          </div>

          <div class="col-md-1 align-self-center">
            <div class="form-check form-switch align-self-center">
              <label
                class="form-check-label align-self-center cutoffs-label"
                id="cutoffs-label-0"
                for="cutoffs-0"
                ><input
                  class="form-check-input align-self-center cutoffs-check"
                  type="checkbox"
                  id="cutoffs-0"
                />
                Cutoffs</label
              >
            </div>
          </div>

          <div
            class="well col-md-2 cutoff-container justify-content-center align-self-center"
            id="cutoff-well"
            style="visibility: hidden"
          >
            <div class="input-group cutoff align-self-center">
              <div class="input-group-prepend" id="lower-cutoff-prepend">
                <span class="input-group-text" id="lower-cutoff-label"
                  >Lower Cutoff</span
                >
              </div>
              <input class="form-control" type="number" id="lower-cutoff" />
            </div>

            <div class="input-group cutoff align-self-center">
              <div class="input-group-prepend" id="upper-cutoff-prepend">
                <span class="input-group-text" id="upper-cutoff-label"
                  >Upper Cutoff</span
                >
              </div>
              <input class="form-control" type="number" id="upper-cutoff" />
            </div>
          </div>
          <div class="col-md-1 align-self-center">
            <button
              class="col-md-1 btn btn-delete align-self-center"
              id="delete"
              style="visibility: hidden"
            >
              <i class="fa-solid fa-circle-minus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="results-container" style="display: none">
      <div class="row">
        <div class="results-graph offset-1 col-md-7">
          <svg style="width: 100%; height: 100%">
            <style class="style">
              .title {
                fill: #112d4e;
                font-family: "Helvetica Neue", "Helvetica", "sans-serif";
                font-size: 24px;
              }
              .axis-title {
                fill: #112d4e;
                font-family: "Helvetica Neue", "Helvetica", "sans-serif";
                font-size: 16px;
              }
              .axis text {
                fill: #112d4e;
                font-family: "Helvetica Neue", "Helvetica", "sans-serif";
                font-size: 12px;
              }
              .axis line {
                stroke: #3f72af;
              }

              .axis path {
                stroke: #3f72af;
              }
              .line {
                stroke-width: 5px;
                stroke: #112d4e;
                fill: none;
              }
              .dot {
                fill: none;
                stroke: none;
              }
              .rule-line {
                stroke-width: 3px;
                stroke: #3f72af;
              }
              .rule-circle {
                stroke-width: 3px;
                stroke: #3f72af;
                fill: #dbe2ef;
              }
              .rule-rect-inside {
                fill: rgba(0, 150, 0, 0.1);
              }
              .rule-rect-outside {
                fill: rgba(150, 0, 0, 0.1);
              }
              .rule-text {
                fill: #112d4e;
                font-family: "Helvetica Neue", "Helvetica", "sans-serif";
                font-size: 16px;
              }
            </style>
          </svg>
        </div>
        <div class="col-md-3 align-self-center table-div">
          <table class="table table-bordered table-hover" style="margin-top: 0">
            <tbody>
              <tr>
                <th scope="row">Mean:</th>
                <td id="tab-mean">1</td>
                <th scope="row">Median:</th>
                <td id="tab-median">1</td>
              </tr>

              <tr>
                <th scope="row">Standard Deviation:</th>
                <td id="tab-std">1</td>
                <th scope="row">Number of Samples:</th>
                <td id="tab-samples">1</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col" class="text-center">Minimum</th>
                <th scope="col" class="text-center">Maximum</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">70% of Samples Fall Between:</th>
                <td id="tab-70-min">1</td>
                <td id="tab-70-max">1</td>
              </tr>
              <tr>
                <th scope="row">95% of Samples Fall Between:</th>
                <td id="tab-95-min">1</td>
                <td id="tab-95-max">1</td>
              </tr>
              <tr>
                <th scope="row">99% of Samples Fall Between:</th>
                <td id="tab-99-min">1</td>
                <td id="tab-99-max">1</td>
              </tr>
              <tr>
                <th scope="row">99.9% of Samples Fall Between:</th>
                <td id="tab-99_9-min">1</td>
                <td id="tab-99_9-max">1</td>
              </tr>
              <tr>
                <th scope="row">99.99% of Samples Fall Between:</th>
                <td id="tab-99_99-min">1</td>
                <td id="tab-99_99-max">1</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col" class="text-center">Minimum</th>
                <th scope="col" class="text-center">Maximum</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Worst Case (Absolute) Tolerance Stackup:</th>
                <td id="tab-abs-min">1</td>
                <td id="tab-abs-max">1</td>
              </tr>
              <tr>
                <th scope="row">Statistical (3σ) Tolerance Stackup:</th>
                <td id="tab-stat-min">1</td>
                <td id="tab-stat-max">1</td>
              </tr>
              <tr>
                <th scope="row">Range Of Simulated Results:</th>
                <td id="tab-sim-min">1</td>
                <td id="tab-sim-max">1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row stack-step fixed-bottom button-row" id="button-row">
      <div class="offset-1 col-md-2">
        <button class="btn btn-primary back" id="back">
          <i class="fa-solid fa-arrow-left"></i>&ensp; Back
        </button>
      </div>
      <div class="offset-2 col-md-2">
        <button class="btn btn-primary" id="add-step">
          <i class="fa-solid fa-circle-plus"></i>&ensp; Add Step
        </button>
      </div>
      <div class="offset-2 col-md-2">
        <button class="btn btn-primary" id="calculate">
          <i class="fa-solid fa-calculator"></i>&ensp; Calculate &ensp;<i
            class="fa-solid fa-arrow-right"
          ></i>
        </button>
      </div>
    </div>
  </body>
  <footer>
    <p class="text-muted text-center fixed-bottom">
      <a class="text-muted" href="https://www.linkedin.com/in/samuellehmann/"
        >Created by Samuel Lehmann</a
      >
    </p>
  </footer>

  <script src="{%static 'tol-stack.js'%}"></script>
</html>
