.title {
  margin-bottom: 3rem;
  margin-top: 1rem;
  color: #112d4e !important;
}

.cutoff {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.cutoff-container {
  opacity: 0;
}

.btn-primary {
  background: #112d4e !important;
  border-color: #010911 !important;
  color: #f9f7f7 !important;
  border-radius: 3px !important;
}

.stack-num {
  text-align: right;
  padding-right: 0.5rem;
  display: inline;
  width: 20% !important;
}

.stack-name {
  display: inline;
  width: 80% !important;
  float: right;
}

.button-row {
  margin-bottom: 70px;
}

.btn {
  margin: auto;
  width: 100%;
}
.back {
  visibility: hidden;
}

.background {
  background-color: #f9f7f7;
}

a:link {
  color: #3f72af !important;
}

a:hover {
  color: #112d4e !important;
}

a:visited {
  color: #3f72af !important;
}

a:active {
  color: #112d4e !important;
}

.text-muted {
  font-style: italic;
  font-size: small;
  vertical-align: bottom;
  margin: 25px;
}

.form-control {
  min-width: 3rem !important;
  border-color: #dbe2ef !important;
  color: #112d4e !important;
}

.form-control:focus {
  border-color: #3f72af !important;
  box-shadow: 0 0 0 0.2rem rgba(63, 114, 175, 0.2) !important;
  color: #112d4e !important;
}

.form-control::placeholder {
  color: #112d4e !important;
}

.form-select:focus {
  border-color: #3f72af !important;
  box-shadow: 0 0 0 0.2rem rgba(63, 114, 175, 0.2) !important;
}

.input-group-text {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  color: #112d4e !important;
  text-align: right !important;
}

.btn-delete {
  background: #ff5d5d !important;
  border-color: #ff8c8c !important;
  color: #f9f7f7 !important;
  border-radius: 5px !important;
  width: 3rem !important;
  height: 3rem !important;
  margin-left: 3rem;
}

.mean {
  width: 4rem !important;
}

.form-check-input {
  border-color: #dbe2ef !important;
}

.form-check-input:focus {
  border-color: #3f72af !important;
  box-shadow: 0 0 0 0.2rem rgba(63, 114, 175, 0.2) !important;
}

.form-check-input:checked {
  border-color: #3f72af !important;
  background-color: #112d4e !important;
}

.form-check-input:focus:not(:checked) {
  border-color: #3f72af !important;
  background-color: #dbe2ef !important;
}

.form-check-input:not(:disabled):active {
  background-color: #dbe2ef !important;
  border-color: #dbe2ef !important;
}

.stack-container {
  width: 80%;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
}

.results-graph {
  height: 75vh;
}

.table-div {
  height: 75vh;
  padding-top: 70px;
}

table {
  margin-top: 15%;
  border-color: #dbe2ef !important;
}

td,
thead {
  text-align: center;
  color: #112d4e;
}

th {
  text-align: end !important;
  color: #112d4e;
}

html {
  overflow-x: hidden;
}

.pm {
  color: #112d4e;
  font-size: large;
  display: inline-block;
  font-weight: 600;
  width: 5%;
  text-align: center;
  margin: auto;
}

.input-label {
  color: #112d4e;
  display: inline-block;
  text-align: right;
  margin: auto;
  padding: 1rem;
}
